<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net45" />
  <package id="FluentValidation" version="8.6.3" targetFramework="net45" />
  <package id="FluentValidation.ValidatorAttribute" version="8.6.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Syncfusion.Compression.Base" version="19.3.0.57" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="19.3.0.57" targetFramework="net45" />
  <package id="Syncfusion.XlsIO.AspNet" version="19.3.0.57" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net45" />
  <package id="Z.EntityFramework.Classic.Community" version="7.1.0" targetFramework="net45" />
  <package id="Z.EntityFramework.Extensions.Classic" version="3.17.1" targetFramework="net45" />
  <package id="Z.Expressions.Eval" version="2.9.20" targetFramework="net45" />
</packages>