.handsontable .wtBorder.current {
  transition: all 200ms ease;
}.kt-lst-db .db-item input[type=text] {
  border-style: none;
}
.kt-lst-db .db-item input[type=text]:hover, .kt-lst-db .db-item input[type=text]:focus, .kt-lst-db .db-item input[type=text]:active {
  border-style: solid;
}
.kt-lst-db .db-item .form-control {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.kt-lst-db .db-item span.form-control {
  border-style: none;
}.kt-txtrptview {
  padding: 20px;
  overflow: auto;
}
.kt-txtrptview .kt-txtrpt-page {
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}.ktxh-ss {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
  line-height: 1.5;
}
.ktxh-ss .ss-fml {
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  color: #002e5f;
}.kt-dbtabs .edit-enabled {
  display: none;
}
.kt-dbtabs a.nav-link.m-tabs__link {
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width ease 200ms;
}
.kt-dbtabs a.nav-link.m-tabs__link.active {
  max-width: initial;
}
.kt-dbtabs .dbt-toolbar {
  position: sticky;
  top: 70px;
  background: #fff;
  z-index: 1;
}
.kt-dbtabs.edit-mode .nav-tabs {
  opacity: 0.8;
  pointer-events: none;
  cursor: not-allowed;
}
.kt-dbtabs.edit-mode .edit-enabled {
  display: inline;
}
.kt-dbtabs.edit-mode .edit-disabled {
  display: none;
}
.kt-dbtabs.db-readonly .edit-enabled,
.kt-dbtabs.db-readonly .edit-disabled {
  display: none;
}.kt-dbcont .m-portlet {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.kt-dbcont .m-portlet .m-portlet__head {
  height: 2.4rem;
  -webkit-transition: background ease 200ms;
  transition: background ease 200ms;
}
.kt-dbcont .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
  font-size: 1.1rem;
}
.kt-dbcont .m-portlet:hover .m-portlet__head {
  background-color: #eff0f6;
}
.kt-dbcont .dbc-row-tools .dbc-row-sep {
  position: relative;
}
.kt-dbcont .dbc-row-tools .dbc-row-sep::before {
  display: block;
  content: " ";
  border-top: 1px #44a0ff dashed;
  position: absolute;
  top: 50%;
  left: 0;
  right: 10px;
}
.kt-dbcont .al-middle-cont {
  position: relative;
}
.kt-dbcont .al-middle-cont .al-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.kt-dbcont .wditwg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background ease 200ms;
  transition: background ease 200ms;
}
.kt-dbcont .wditwg-overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.kt-dbcont.edit-mode [ui-dbcol] {
  position: relative;
}.kt-expl-view {
  margin-left: auto;
  margin-right: auto;
}
.kt-expl-view, .kt-expl-view * {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
  line-height: 1.5;
}
.kt-expl-view p {
  /* text-indent: 1cm; */
  margin-bottom: 6pt;
}
.kt-expl-view b, .kt-expl-view b * {
  font-weight: 700;
}
.kt-expl-view i, .kt-expl-view i * {
  font-style: italic;
}
.kt-expl-view u, .kt-expl-view u * {
  text-decoration: underline;
}
.kt-expl-view table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #000;
  width: 100%;
}
.kt-expl-view table.tbl-layout, .kt-expl-view table.tbl-layout td, .kt-expl-view table.tbl-layout th {
  border: none;
}
.kt-expl-view table td, .kt-expl-view table th {
  min-width: 2em;
  padding: 0 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}
.kt-expl-view .indent-0, .kt-expl-view p.indent-0 {
  text-indent: 0;
}
.kt-expl-view th, .kt-expl-view td {
  padding: 0 4px;
  height: 1.5em;
  position: relative;
}
.kt-expl-view .cm-ne {
  position: absolute;
  content: " ";
  display: block;
  top: 0;
  right: 0;
  border-top: 2px #00BCD4 solid;
  border-right: 2px #00BCD4 solid;
  border-left: 2px transparent solid;
  border-bottom: 2px transparent solid;
}.gov-doc-content {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
  line-height: 1.5;
}

.gov-doc-page {
  /* Set the dimensions of the "page". (A4)*/
  width: 210mm;
  min-height: 297mm;
  /* Keep the "page" off the boundaries of the container. */
  padding: 2cm 1.5cm 2cm 3cm !important;
  background: white;
}
.gov-doc-page.page-hoz {
  width: 297mm;
  min-height: 210mm;
}

.gov-doc-area, .gov-doc-area * {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
  line-height: 1.5;
}
.gov-doc-area p {
  /* text-indent: 1cm; */
  margin-bottom: 6pt;
}
.gov-doc-area b, .gov-doc-area b * {
  font-weight: 700;
}
.gov-doc-area i, .gov-doc-area i * {
  font-style: italic;
}
.gov-doc-area u, .gov-doc-area u * {
  text-decoration: underline;
}
.gov-doc-area table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #000;
  width: 100%;
}
.gov-doc-area table.tbl-layout, .gov-doc-area table.tbl-layout td, .gov-doc-area table.tbl-layout th {
  border: none;
}
.gov-doc-area table td, .gov-doc-area table th {
  min-width: 2em;
  padding: 0 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}
.gov-doc-area .indent-0, .gov-doc-area p.indent-0 {
  text-indent: 0;
}

.jstree.locked .jstree-anchor {
  pointer-events: none;
}.document-editor {
  border: 1px solid var(--ck-color-base-border);
  border-radius: var(--ck-border-radius);
  /* Set vertical boundaries for the document editor. */
  max-height: 700px;
  /* This element is a flex container for easier rendering. */
  display: flex;
  flex-flow: column nowrap;
}

.document-editor__toolbar {
  /* Make sure the toolbar container is always above the editable. */
  z-index: 1;
  /* Create the illusion of the toolbar floating over the editable. */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* Use the CKEditor CSS variables to keep the UI consistent. */
  border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
  border: 0;
  border-radius: 0;
}

/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
  padding: calc( 2 * var(--ck-spacing-large) );
  background: var(--ck-color-base-foreground);
  /* Make it possible to scroll the "page" of the edited content. */
  overflow-y: scroll;
}

.document-editor__editable-container .ck-content.ck-editor__editable {
  /* Set the dimensions of the "page". (A4)*/
  width: 210mm;
  min-height: 297mm;
  /* Keep the "page" off the boundaries of the container. */
  padding: 2cm 1.5cm 2cm 3cm !important;
  background: white;
  border: 1px lightgray solid;
  border-radius: var(--ck-border-radius);
  /* The "page" should cast a slight shadow (3D illusion). */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* Center the "page". */
  margin: 0 auto;
}
.document-editor__editable-container .ck-content.ck-editor__editable.page-hoz {
  width: 297mm;
  min-height: 210mm;
}

.kt-txtrpteditor .ck-content .table table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #000;
  width: 100%;
}
.kt-txtrpteditor .ck-content .table table.tbl-layout, .kt-txtrpteditor .ck-content .table table.tbl-layout td, .kt-txtrpteditor .ck-content .table table.tbl-layout th {
  border: none;
}
.kt-txtrpteditor .ck-content .table table td, .kt-txtrpteditor .ck-content .table table th {
  min-width: 2em;
  padding: 0 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}

/* Set the default font for the "page" of the content. */
.document-editor .ck-content p:first-child {
  margin-top: 0 !important;
}

.ck.ck-editor__editable_inline > :first-child {
  margin-top: 0 !important;
}

.ck-editor__editable > .ck-widget.ck-widget_with-selection-handler:first-child, .ck-editor__editable > .ck-widget.ck-widget_with-selection-handler:first-child {
  margin-top: 0 !important;
}

.document-editor .ck-content, .document-editor .ck-content *,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label * {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
  line-height: 1.5;
}
.document-editor .ck-content p,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label p {
  /* text-indent: 1cm; */
  margin-bottom: 6pt;
}
.document-editor .ck-content b, .document-editor .ck-content b *,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label b,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label b * {
  font-weight: 700;
}
.document-editor .ck-content i, .document-editor .ck-content i *,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label i,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label i * {
  font-style: italic;
}
.document-editor .ck-content u, .document-editor .ck-content u *,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label u,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label u * {
  text-decoration: underline;
}
.document-editor .ck-content table,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #000;
  width: 100%;
}
.document-editor .ck-content table.tbl-layout, .document-editor .ck-content table.tbl-layout td, .document-editor .ck-content table.tbl-layout th,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label table.tbl-layout,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label table.tbl-layout td,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label table.tbl-layout th {
  border: none;
}
.document-editor .ck-content table td, .document-editor .ck-content table th,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label table td,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label table th {
  min-width: 2em;
  padding: 0 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}
.document-editor .ck-content .indent-0, .document-editor .ck-content p.indent-0,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label .indent-0,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label p.indent-0 {
  text-indent: 0;
}

.ck-rounded-corners .ck.ck-list.vn-gov-doc {
  max-height: 220px;
  overflow: auto;
  overflow-x: hidden;
}

.ck.ck-list .ck-list__item.doc-part {
  padding: 4px 10px;
  border-top: 1px #c4c4c4 solid;
}
.ck.ck-list .ck-list__item.doc-part, .ck.ck-list .ck-list__item.doc-part * {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
  line-height: 1.5;
}
.ck.ck-list .ck-list__item.doc-part p {
  /* text-indent: 1cm; */
  margin-bottom: 6pt;
}
.ck.ck-list .ck-list__item.doc-part b, .ck.ck-list .ck-list__item.doc-part b * {
  font-weight: 700;
}
.ck.ck-list .ck-list__item.doc-part i, .ck.ck-list .ck-list__item.doc-part i * {
  font-style: italic;
}
.ck.ck-list .ck-list__item.doc-part u, .ck.ck-list .ck-list__item.doc-part u * {
  text-decoration: underline;
}
.ck.ck-list .ck-list__item.doc-part table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #000;
  width: 100%;
}
.ck.ck-list .ck-list__item.doc-part table.tbl-layout, .ck.ck-list .ck-list__item.doc-part table.tbl-layout td, .ck.ck-list .ck-list__item.doc-part table.tbl-layout th {
  border: none;
}
.ck.ck-list .ck-list__item.doc-part table td, .ck.ck-list .ck-list__item.doc-part table th {
  min-width: 2em;
  padding: 0 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}
.ck.ck-list .ck-list__item.doc-part .indent-0, .ck.ck-list .ck-list__item.doc-part p.indent-0 {
  text-indent: 0;
}
.ck.ck-list .ck-list__item.doc-part:hover, .ck.ck-list .ck-list__item.doc-part:first-child {
  border-top-color: transparent;
}.ktxh-xpl-bdredit {
  position: relative;
  overflow: visible;
  width: 180px;
  height: 180px;
  margin: 12px auto;
  border: 1px #eee solid;
}
.ktxh-xpl-bdredit::before, .ktxh-xpl-bdredit::after {
  display: block;
  content: " ";
  position: absolute;
}
.ktxh-xpl-bdredit::before {
  border-top: 1px #eee solid;
  width: 100%;
  left: 0;
  top: 50%;
}
.ktxh-xpl-bdredit::after {
  border-left: 1px #eee solid;
  height: 100%;
  left: 50%;
  top: 0;
}
.ktxh-xpl-bdredit[data-left=none] {
  border-left: none;
}
.ktxh-xpl-bdredit[data-left=solid] {
  border-left: 1px #000 solid;
}
.ktxh-xpl-bdredit[data-left=dotted] {
  border-left: 1px #000 dotted;
}
.ktxh-xpl-bdredit[data-left=dashed] {
  border-left: 1px #000 dashed;
}
.ktxh-xpl-bdredit[data-top=none] {
  border-top: none;
}
.ktxh-xpl-bdredit[data-top=solid] {
  border-top: 1px #000 solid;
}
.ktxh-xpl-bdredit[data-top=dotted] {
  border-top: 1px #000 dotted;
}
.ktxh-xpl-bdredit[data-top=dashed] {
  border-top: 1px #000 dashed;
}
.ktxh-xpl-bdredit[data-right=none] {
  border-right: none;
}
.ktxh-xpl-bdredit[data-right=solid] {
  border-right: 1px #000 solid;
}
.ktxh-xpl-bdredit[data-right=dotted] {
  border-right: 1px #000 dotted;
}
.ktxh-xpl-bdredit[data-right=dashed] {
  border-right: 1px #000 dashed;
}
.ktxh-xpl-bdredit[data-bottom=none] {
  border-bottom: none;
}
.ktxh-xpl-bdredit[data-bottom=solid] {
  border-bottom: 1px #000 solid;
}
.ktxh-xpl-bdredit[data-bottom=dotted] {
  border-bottom: 1px #000 dotted;
}
.ktxh-xpl-bdredit[data-bottom=dashed] {
  border-bottom: 1px #000 dashed;
}
.ktxh-xpl-bdredit[data-hoz=none]:before {
  border-top: none;
}
.ktxh-xpl-bdredit[data-ver=none]:after {
  border-left: none;
}
.ktxh-xpl-bdredit[data-hoz=solid]:before {
  border-top: 1px #000 solid;
}
.ktxh-xpl-bdredit[data-ver=solid]:after {
  border-left: 1px #000 solid;
}
.ktxh-xpl-bdredit[data-hoz=dotted]:before {
  border-top: 1px #000 dotted;
}
.ktxh-xpl-bdredit[data-ver=dotted]:after {
  border-left: 1px #000 dotted;
}
.ktxh-xpl-bdredit[data-hoz=dashed]:before {
  border-top: 1px #000 dashed;
}
.ktxh-xpl-bdredit[data-ver=dashed]:after {
  border-left: 1px #000 dashed;
}
.ktxh-xpl-bdredit .bdredit-btn {
  display: block;
  height: 24px;
  width: 24px;
  padding: 2px;
  position: absolute !important;
  z-index: 1;
}
.ktxh-xpl-bdredit .bdredit-btn i {
  font-size: 10px !important;
}
.ktxh-xpl-bdredit .bdredit-btn[line=outer] {
  left: -12px;
  top: -12px;
}
.ktxh-xpl-bdredit .bdredit-btn[line=inner] {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ktxh-xpl-bdredit .bdredit-btn[line=ver] {
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
.ktxh-xpl-bdredit .bdredit-btn[line=hoz] {
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ktxh-xpl-bdredit .bdredit-btn[line=left] {
  left: -12px;
  top: 50%;
  transform: translate(0, -50%);
}
.ktxh-xpl-bdredit .bdredit-btn[line=top] {
  left: 50%;
  top: -12px;
  transform: translate(-50%);
}
.ktxh-xpl-bdredit .bdredit-btn[line=right] {
  right: -12px;
  top: 50%;
  transform: translate(0, -50%);
}
.ktxh-xpl-bdredit .bdredit-btn[line=bottom] {
  left: 50%;
  bottom: -12px;
  transform: translate(-50%);
}
.ktxh-xpl-bdredit .mnu-line[line-style=solid],
.ktxh-xpl-bdredit .mnu-line[line-style=dotted],
.ktxh-xpl-bdredit .mnu-line[line-style=dashed] {
  position: relative;
  height: 2em;
  padding-top: 0;
  padding-bottom: 0;
}
.ktxh-xpl-bdredit .mnu-line[line-style=solid]:after,
.ktxh-xpl-bdredit .mnu-line[line-style=dotted]:after,
.ktxh-xpl-bdredit .mnu-line[line-style=dashed]:after {
  display: block;
  content: " ";
  height: 0;
  position: absolute;
  top: 50%;
  left: 1.2rem;
  right: 1.2rem;
}
.ktxh-xpl-bdredit .mnu-line[line-style=solid]:after {
  border-bottom: 1px #000 solid;
}
.ktxh-xpl-bdredit .mnu-line[line-style=dotted]:after {
  border-bottom: 1px #000 dotted;
}
.ktxh-xpl-bdredit .mnu-line[line-style=dashed]:after {
  border-bottom: 1px #000 dashed;
}